body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    align-content: center;
}

a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.card{
    background-color: hsl(216, 50%, 16%);
    padding: 30px;
    border-radius: 25px;
}

.nft-image{
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.attribution{
    margin: 25px;
    text-align: center;
}

.card-title{
    color: hsl(0, 0%, 100%);
}

.subcontainer{
    display: flex;
    justify-content: space-between;
}

.nft-author{
    color: hsl(0, 0%, 100%);
}

.nft-value{
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

